.bus-board {
  margin: 5rem  0px 10rem 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.bus-board .bus-b-heading {
  width: 100%;
  // background-color: #000000;
  text-align: center;
}
.bus-b-heading h1 {
  font-size: 3.5rem;
  font-weight: 600;
}
.b-table-container {
  width: 100%;
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bus-table {
  width: 60%;
  border-collapse: collapse;
}

.bus-table th,
.bus-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}
td a {
  text-decoration: none;
}
td{
  font-size: 19px;
}

.bus-table th {
  // background-color: #f2f2f2;
  color: #95ed43;
  font-size: 1.5rem;
}

.bus-route-cell {
  max-width: 200px;
  overflow-y: auto;
}

@media screen and (max-width: 600px) {
  .bus-table th,
  .bus-table td {
    padding: 6px;
  }
  .bus-table {
    width: 80%;
    border-collapse: collapse;
  }
}
